.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100%;
}

.page {
  min-width: 0; //this makes swiper work
} 

.container {
  max-width: 1668px;
  width: 100%;
  margin: 0 auto;
  @include adaptiveValue('padding-right', 24, 15);
  @include adaptiveValue('padding-left', 24, 15);
}

.title {
  font-weight: 400;
  @include adaptiveValue('font-size', 30, 24);
  line-height: calc(36 / 30 * 100%);
  font-family: $second;
  text-transform: uppercase;
}

.mini-title {
  font-family: $main;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(30 / 24 * 100%);
}

.label {
  color: #818698;
  font-size: 16px;
  line-height: calc(20 / 16 * 100%);
}

.btn {
  background-color: $blue;
  color: $grey;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  padding: 15px 30px;
  font-family: $main;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border: 1px solid $blue;
  &:hover {
    background-color: transparent;
    color: $blue;
  }
}