@media (max-width: 1500px) {
  .download {
    &__btns {
      padding-right: 0;
    }
  }
}

@media (max-width: 1100px) {
  .collections.onerow {
    .collections__grid {
      grid-auto-rows: 0;
      grid-template-rows: repeat(3, auto);
      overflow-y: hidden;
      row-gap: 0;
      > *:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  .footer {
    &__up {
      grid-template-columns: minmax(150px, 231px) minmax(auto, 231px) auto;
    }
    &__marketplace {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    &__logo {
      margin-top: 28px;
      align-self: start;
    }
    &__down {
      grid-template-columns: 1fr auto;
      row-gap: 10px;
      grid-template-areas:
        'rights networks'
        'terms .'
        'privacy .';
    }
    &__rights {
      grid-area: rights;
    }
    &__terms {
      justify-self: start;
      grid-area: terms;
    }
    &__privacy {
      grid-area: privacy;
      margin-left: 0;
    }
    &__networks {
      grid-area: networks;
    }
  }
}

@media (max-width: 830px) {
  .title {
    text-align: center;
  }
  .header {
    &__action {
      justify-self: end;
    }
  }

  .menu {
    &.active {
      top: 0;
    }
    padding: 60px 0 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.9);
    top: -100%;
    left: 0;
    transition-duration: 0.5s;
    overflow: auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    column-gap: none;
    @include adaptiveValue('row-gap', 180, 60);
    justify-items: center;
    align-content: start;
  }

  .burger {
    display: block;
  }

  .intro {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'sub sub'
        'title title'
        'btn btn'
        'img img'
        'prof stats';
      column-gap: 0px;
      justify-items: center;
    }

    &__subtitle {
      margin-top: 0px;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      margin-bottom: 60px;
    }

    &__profiles {
      flex-direction: column;
      *:not(:first-child) {
        position: relative;
      }
      *:nth-child(2) {
        bottom: 15px;
        right: 0;
      }
      *:nth-child(3) {
        bottom: 30px;
        right: 0;
      }
      &::after {
        background: url('../img/svgs/arrow2.svg') 0 0 / 100% no-repeat;
        bottom: -64px;
        @include adaptiveValue('left', 150, 15);
        @include adaptiveValue('width', 300, 120);
        @include adaptiveValue('height', 350, 120);
      }
    }

    &__stats {
      margin-top: 0;
      grid-template-columns: 1fr;
      column-gap: 0px;
      row-gap: 32px;
    }

    &__img {
      grid-row: span 1;
      margin-bottom: 60px;
      max-width: 775px;
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__subtitle {
      padding-left: 10px;
    }
  }

  .collections {
    padding: 0;
    background-color: transparent;
    &__inner {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "title"
        "."
        "grid"
        "btn"
      ;
    }
    &__btn {
      * {
        color: $white;
      }
    }
  }

  .switch {
    display: none;
  }

  .collection {
    &__img {
      &::before {
        color: $white;
      }
    }
  }

  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
    }
    &__info {
      text-transform: uppercase;
    }
    &__category {
      background-color: #0e121b;
      color: $white;
    }
  }

  .download {
    &__inner {
      background-color: transparent;
      grid-template-columns: 1fr;
      border: none;
      padding: 0;
    }

    &__title {
      margin-bottom: 32px;
    }
    &__btns {
      grid-template-columns: minmax(auto, 270px);
      justify-content: center;
    }
  }

  .footer {
    &__up {
      display: block;
    }
    &__logo {
      display: none;
    }
    &__links {
      display: none;
    }
    &__form {
      margin: 0 auto;
    }

    &__office {
      display: block;
      grid-area: office;
    }

    &__contact {
      display: block;
      grid-area: contact;
    }

    &__inner {
      padding: 0;
      font-family: $inter;
      color: #e0e5f3;
    }

    &__mini-title {
      font-family: $inter;
      font-weight: 600;
    }

    &__terms {
      justify-self: center;
    }

    &__networks {
      justify-content: center;
      a {
        color: $white;
      }

      ._icon-inter,
      ._icon-git {
        display: block;
      }

      ._icon-inter {
        color: $blue;
      }

      ._icon-yt,
      ._icon-inst,
      ._icon-in,
      ._icon-tt {
        display: none;
      }
    }
    &__down {
      grid-template-columns: 1fr;
      grid-template-areas:
        'office'
        'contact'
        'terms'
        'privacy'
        'networks'
        'rights';
      row-gap: 20px;
      * {
        text-align: center;
      }
    }
  }

  .form {
    &__title {
      font-family: $inter;
      font-weight: 600;
    }
  }
}

@media (max-width: 430px) {
  .collection {
    padding-right: 10px;
    grid-template-columns: minmax(70px, 100px) 1fr;
    grid-template-areas:
      'img text'
      '. prices';
    &__prices {
      margin-top: -10px;
    }
  }

  .slider-arrow {
    display: none;
  }
}
