@media (max-width: 830px) {
  .header {
    &__action {
      justify-self: end;
    }
  }

  .menu {
    &.active {
      top: 0;
    }
    padding: 60px 0 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.9);
    top: -100%;
    left: 0;
    transition-duration: 0.5s;
    overflow: auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    column-gap: none;
    @include adaptiveValue('row-gap', 180, 60);
    justify-items: center;
    align-content: start;
  }

  .burger {
    display: block;
  }

  .intro {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'sub sub'
        'title title'
        'btn btn'
        'img img'
        'prof stats';
      column-gap: 0px;
      justify-items: center;
    }

    &__subtitle {
      margin-top: 0px;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      margin-bottom: 60px;
    }

    &__profiles {
      flex-direction: column;
      *:not(:first-child) {
        position: relative;
      }
      *:nth-child(2) {
        bottom: 15px;
        right: 0;
      }
      *:nth-child(3) {
        bottom: 30px;
        right: 0;
      }
      &::after {
        background: url("../img/svgs/arrow2.svg") 0 0 / 100% no-repeat;
        bottom: -64px;
        @include adaptiveValue('left', 150, 15);
        @include adaptiveValue('width', 300, 120);
        @include adaptiveValue('height', 350, 120);
      }
    }

    &__stats {
      margin-top: 0;
      grid-template-columns: 1fr;
      column-gap: 0px;
      row-gap: 32px;
    }

    &__img {
      grid-row: span 1;
      margin-bottom: 60px;
      max-width: 775px;
    }
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__subtitle {
      // display: inline-block;
      padding-left: 10px;
    }
  }
}

/*
.intro {

		&__inner {}

		&__subtitle {}

		&__title {}

		&__btn {}

		&__profiles {}

		&__profile {}

		&__stats {}

		&__img {}
}
.container {
}
.title {
}
.btn {
}
.stat {

		&__title {}

		&__subtitle {}
}

*/
