@import 'null', 'fonts', 'vars', 'mixins', 'blocks';

body {
  background-color: $black;
  color: #fff;
  font-family: $main;
}

.header {
  padding: 40px 0;
  @include adaptiveValue('margin-bottom', 75, 60);
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 10px;
  }

  &__logo {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__menu {
    justify-self: center;
  }

  // &__action {}

  &__btn {
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    font-weight: 400;
  }
}

.menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
  &__item {
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    color: $white;
    @include hoverUnderline($blue);
  }
}

.burger {
  position: relative;
  right: 0;
  top: 0;
  display: none;
  width: 40px;
  height: 25px;
  z-index: 100;
  justify-self: end;

  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $white;
    transition-duration: 0.3s;
  }

  *:nth-child(1) {
    top: 0;
  }
  *:nth-child(2) {
    top: 11px;
  }
  *:nth-child(3) {
    bottom: 0;
  }

  span:last-child {
    margin: 0;
  }

  &.active {
    *:nth-child(1) {
      transform: rotate(45deg);
      top: 11px;
    }

    *:nth-child(2) {
      display: none;
    }

    *:nth-child(3) {
      transform: rotate(-45deg);
      bottom: 11px;
    }
  }
}

.intro {
  @include adaptiveValue('margin-bottom', 120, 80);
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    column-gap: 54px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'sub sub img'
      'title title img'
      'btn prof img '
      'stats stats img';
    column-gap: 54px;
    align-items: start;
  }

  &__subtitle {
    @include adaptiveValue('font-size', 36, 18);
    text-transform: none;
    margin-bottom: 16px;
    grid-area: sub;
    margin-top: 50px;
  }

  &__title {
    text-transform: uppercase;
    font-family: $second;
    @include adaptiveValue('font-size', 72, 30);
    line-height: calc(86 / 72 * 100%);
    max-width: 704px;
    grid-area: title;
    @include adaptiveValue('margin-bottom', 64, 32);
  }

  &__btn {
    display: inline-block;
    grid-area: btn;
  }

  &__profiles {
    grid-area: prof;
    position: relative;
    display: flex;
    *:not(:first-child) {
      position: relative;
    }
    *:nth-child(2) {
      right: 15px;
    }
    *:nth-child(3) {
      right: 30px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 131px;
      background: url('../img/svgs/arrow1.svg') 0 0 / auto no-repeat;
      width: 130px;
      height: 119px;
    }
  }

  // &__profile {}

  &__stats {
    margin-top: 80px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    // @include adaptiveValue('column-gap', 116, 30);
    column-gap: 116px;
    grid-area: stats;
  }

  &__img {
    @include adaptiveValue('max-width', 775, 100);
    grid-area: img;
    grid-row: span 5;
    img {
      max-width: 100%;
      object-fit: cover;
      box-shadow: 0px -10px 20px 6px #2e2b56, 0px 10px 20px -3px $blue;
      //#2E2B56
      @include adaptiveValue('border-radius', 180, 50);
    }
  }
}

.stat {
  // &__title {}
  &__subtitle {
    text-align: center;
  }
}

.categories {
  @include adaptiveValue('margin-bottom', 120, 80);
  // &__inner {}

  &__title {
    @include adaptiveValue('margin-bottom', 72, 24);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 245px));
    column-gap: 30px;
    row-gap: 30px; //temporary
    justify-content: center;
  }
}

.category {
  background-color: $grey;
  border-radius: 50px;
  padding: 10px 10px 0px 10px;
  &__img {
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    text-align: center;
    padding: 51px 0;
  }
}

.collections {
  padding: 137px 0px 86px;
  background-color: #1d1e22;
  // &__inner {}

  &__title {
    @include adaptiveValue('margin-bottom', 65, 24);
  }

  &__grid {
    @include adaptiveValue('margin-bottom', 72, 40);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 520px));
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: 30px;
    justify-content: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    * {
      font-size: 16px;
      padding: 15px 20px;
    }
  }
}

.collection {
  border-radius: 30px;
  background-color: $grey;
  padding: 10px 40px 10px 10px;
  display: grid;
  grid-template-columns: minmax(70px, 100px) 1fr auto;
  grid-template-areas: 'img text prices';
  column-gap: 24px;
  align-items: center;
  &__img {
    grid-area: img;
    position: relative;
    &::before {
      content: attr(data-before);
      position: absolute;
      width: 34px;
      height: 34px;
      background-color: $blue;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      right: -10px;
      font-size: 16px;
      line-height: calc(20 / 16 * 100%);
    }
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__text {
    grid-area: text;
  }

  &__title {
    font-weight: 400;
  }

  // &__subtitle {}

  &__prices {
    grid-area: prices;
  }

  &__eth {
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
  }

  // &__price {}

  &__percent {
    font-size: 14px;
    line-height: calc(18 / 14 * 100%);
    color: $blue;
  }
}

.trending {
  @include adaptiveValue('margin-top', 120, 80);
  @include adaptiveValue('margin-bottom', 120, 80);
  // &__inner {}

  &__title {
    @include adaptiveValue('margin-bottom', 72, 44);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 383px));
    column-gap: 29px;
    row-gap: 20px; //temporary
    justify-content: center;
  }
}

.trend {
  background-color: #1d1e22;
  padding: 0px 13px 13px 13px;
  border-radius: 30px;
  &__img {
    margin: 0px -13px 0px;
    @include adaptiveValue('margin-bottom', 16, 24);
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__tag {
    margin-bottom: 33px;
  }

  &__prices {
    background-color: $grey;
    border-radius: 20px;
    padding: 16px 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      'lprice lbid'
      'price bid';
    row-gap: 8px;
    justify-content: space-between;
  }

  &__label-price {
    grid-area: lprice;
  }

  &__price {
    grid-area: price;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
  }

  &__label-bid {
    grid-area: lbid;
  }

  &__bid {
    grid-area: bid;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
  }
}

.insights {
  @include adaptiveValue('padding-top', 120, 80);
  @include adaptiveValue('padding-bottom', 120, 80);
  background-color: #1d1e22;
  // &__inner {}

  &__title {
    @include adaptiveValue('margin-bottom', 48, 40);
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 500px));
    column-gap: 60px;
    row-gap: 40px;
    justify-content: center;
  }
}

.post {
  &__img {
    img {
      max-width: 100%;
      object-fit: cover;
    }
    margin-bottom: 32px;
  }

  &__info {
    display: flex;
    color: #dfe5f5;
    align-items: center;
    margin-bottom: 10px;
  }

  &__category {
    background-color: #f3f5f6;
    font-size: 12px;
    line-height: calc(18 / 12 * 100%);
    padding: 5px 12px;
    color: #0a142f;
    border-radius: 36px;
    margin-right: 14px;
  }

  // &__author {}

  &__separator {
    margin: 0px 4px;
  }

  // &__date {}

  &__title {
    font-size: 30px;
    line-height: calc(48 / 30 * 100%);
    font-weight: 700;
    @include adaptiveValue('margin-bottom', 48, 32);
  }

  &__btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    padding: 18px 47px 18px 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16 * 100%);
    border: 1px solid $white;
    position: relative;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $white;
      color: $black;
    }
    div {
      margin-left: 10px;
    }

    &::before {
      position: absolute;
      right: 20px;
    }
  }
}

.download {
  @include adaptiveValue('padding-top', 120, 80);
  @include adaptiveValue('padding-bottom', 120, 80);
  &__inner {
    background-color: #1D1E22;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 95px 0;
    @include adaptiveValue('padding-right', 72, 0);
    @include adaptiveValue('padding-left', 72, 0);
    display: grid;
    grid-template-columns: minmax(100px, 600px) auto;
    align-items: center;
    column-gap: 20px;  
  }

  // &__title {}

  &__btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 270px));
    justify-content: end;
    column-gap: 16px;
    row-gap: 24px;
    @include adaptiveValue('padding-right', 168, 0);
    * {
      width: 100%;
      text-transform: capitalize;
      font-family: Inter;
      font-weight: 500;
      text-align: center;
      div {
        margin-right: 11px;
      }
    }
  }

  &__appstore {
    color: $white;
    background-color: #2C2D31;
    border: #2C2D31;
    &:hover {
      color: #2C2D31;
      background-color: $white;
    }
  }

  // &__googleplay {}
}

.footer {
  padding: 48px 0;
  background-color: #1D1E22;
  &__inner {
    // display: grid;
    font-size: 16px;
    line-height: calc(30 / 16 * 100%);
    color: #DFE5F5;
    padding: 0 88px;
  }

  &__up {
    display: grid;
    column-gap: 16px;
    grid-template-columns: minmax(150px, 231px) repeat(2, minmax(auto, 231px)) auto;
    margin-bottom: 48px;
  }

  &__down {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
  }

  &__logo {
    align-self: center;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__links {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    a {
      font-size: 16px;
      line-height: calc(30 / 16 * 100%);
      color: #DFE5F5;
      font-family: $main;
    }
  }

  &__marketplace {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    a {
      font-size: 16px;
      line-height: calc(30 / 16 * 100%);
      color: #DFE5F5;
      font-family: $main;
    }
  }

  &__mini-title {
    color: $white;
    font-size: 18px;
    line-height: 100%;
    font-family: $second;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  &__form {
    justify-self: end;
  }

  // &__rights {}

  &__terms {
    justify-self: end;
  }

  &__privacy {
    margin-left: 10px;
  }

  &__networks {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    justify-content: start;
    a {
      font-size: 22px;
      color: #818698;
    }
    ._icon-inter, ._icon-git {
      display: none;
    }
  }

  &__office {display: none;}
  &__contact {display: none;}
}

.form {
  @include adaptiveValue('padding-right', 48, 35);
  @include adaptiveValue('padding-left', 48, 35);
  @include adaptiveValue('padding-top', 80, 60);
  @include adaptiveValue('padding-bottom', 80, 60);
  color: $black;
  background-color: $blue;
  border-radius: 30px;
  max-width: 495px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 
    "title title"
    "input btn"
  ;
  position: relative;
  align-items: start;
  &::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    top: 8px;
    height: 1px;
    background-color: #3FC9B0;
    grid-column: span 2;
  }
  &__title {
    @include adaptiveValue('font-size', 24, 20);
    line-height: calc(29 / 24 * 100%);
    font-family: $second;
    font-weight: 400;
    margin-bottom: 10px;
    grid-area: title;
  }

  &__input {
    background-color: transparent;
    color: $black;
    font-family: $inter;
    grid-area: input;
    padding-right: 15px;
    &::placeholder {
      color: $black;
    }
  }

  &__btn {
    font-size: 21px;
    background-color: transparent;
    grid-area: btn;
  }
}

@import 'media';
